body {
  width: 1920px;
  background: url(../img/claudio.jpg) repeat-y;
  background-size: 100% auto;
}
/*
div {
  font-family: "MuseoModerno-Black";
}
div.peak {
  padding: 15px;
  max-width: 320px;
  overflow: auto;
  position: absolute; 
  top: 1.5em; 
  right: 50px;
}
div.peak h1 {
  right: 50px;
}
div.peak p {
  font-family: "MuseoModerno-Medium";
}

div.middle {
  max-width: 292px;
  overflow: auto;
  position: absolute;
  top: 20em;
  left: 50px;
}
div.middle p {
  font-family: "MuseoModerno-ExtraLight";
} */
div.peak h1 {
  font-family: "MuseoModerno-Black";
  margin-left: 225px;
  padding-top: 20px;
  font-size: 25px;
}
div.peak {
  width: 325px;
  font-family: "MuseoModerno-ExtraLight";
  line-height: 17px;
  background-color: lawngreen;
  box-sizing: border-box;
  padding: 0 10px;
  margin-left: 520px;
}
